[submodule "ext/llvm-project"]
	path = ext/llvm-project
	url = https://github.com/ROCm/llvm-project
	shallow = true
[submodule "ext/HiGHS"]
	path = ext/HiGHS
	url = https://github.com/ERGO-Code/HiGHS.git
	shallow = true
