[workspace]

resolver = "2"

members = [
    "ext/hip_runtime-sys",
    "ext/amd_comgr-sys",
    "comgr",
    "cuda_base",
    "cuda_types",
    "detours-sys",
    "zluda",
    "zluda_dump",
    "zluda_inject",
    "zluda_redirect",
    "zluda_ml",
    "ptx",
    "ptx_parser",
    "ptx_parser_macros",
    "ptx_parser_macros_impl",
    "xtask",
    "zluda_bindgen",
    "zluda_dnn",
    "zluda_blas",
    "zluda_blaslt",
    "zluda_fft",
    "zluda_sparse",
    "zluda_dump_blas",
]

default-members = ["zluda", "zluda_ml", "zluda_inject", "zluda_redirect"]

[profile.release-lto]
inherits = "release"
codegen-units = 1
lto = true

[profile.dev.package.xtask]
opt-level = 2
