[package]
name = "zluda_inject"
version = "0.0.0"
authors = ["Andrzej Janik <vosen@vosen.pl>"]
edition = "2021"

[[bin]]
name = "zluda"
path = "src/main.rs"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = [
    "jobapi2",
    "processthreadsapi",
    "synchapi",
    "winbase",
    "std",
    "processenv",
] }
zluda_windows = { path = "../zluda_windows" }
tempfile = "3"
argh = "0.1"
bpaf = { version = "0.9.19", features = ["derive", "bright-color"] }
detours-sys = { path = "../detours-sys" }

[dev-dependencies]
# all of those are used in integration tests
zluda_redirect = { path = "../zluda_redirect" }
zluda_trace = { path = "../zluda_trace" }
zluda_ml = { path = "../zluda_ml" }

[package.metadata.zluda]
windows_only = true
